<!DOCTYPE html>
<html>
<head>
	<title>Confirmation</title>
</head>
<body>
	<table class="headers">
		<tr>
			<table class="logo"></table>
		</tr>
		<tr>
			<h4>Confirmer votre compte</h4>
		</tr>
		
	</table>
	<table class="create">
		<tr>
			<p>Votre compte a bien été créé doit etre confirme
            	 merci de cliquer sur le lien suivant<br><a href="<%= uri %>">Confirmer mon compte</a>
         	</p>
		</tr>
	</table>
	<table class="footer">
		<tr>
			<p>You receveid this email, because it was by</p>
		</tr>
		<tr>
			<table class="f-footer">
				<tr><p>Thank you</p></tr>
				<tr><p>Bye!!</p></tr>
			</table>
		</tr>
	</table>
</body>
</html>