<!DOCTYPE html>
<html>
<head>
	<title>Request password</title>
</head>
<body>
	<table class="headers">
		<tr>
			<table class="logo"></table>
		</tr>
		<tr>
			<h4>Forgot Password</h4>
		</tr>
		
	</table>
	<table class="create">
		<tr>
			<a href="<%= uri %>">Create new Password</a>
		</tr>
	</table>
	<table class="footer">
		<tr>
			<p>You receveid this email, because it was by</p>
		</tr>
		<tr>
			<table class="f-footer">
				<tr><p>Thank you</p></tr>
				<tr><p>Bye!!</p></tr>
			</table>
		</tr>
	</table>
</body>
</html>