<!DOCTYPE html>
<html>
<head>
	<title>Frais mise en service</title>
</head>
<body>
	<style type="text/css">
		body{
			margin-left: 15px;
			margin-right: 15px;
		}

		table{
			width: 100%;
			border-collapse: collapse;
		}

		.facture{
			width: 100%;
			font-family: sans-serif;
		}
		.detail-fact td{
			border:1px solid #cfd1d2;
			padding: 5px;
		}

		.detail-fact th{
			border:1px solid #0000000;
			background-color: #7FFFD4;
			color: #ffffff;
			padding: 5px;
		}
		.payer{
			border:1px solid;
			width: 40%;
			float: right;
		}
	</style>
	<div class="facture">
		<table>
			<tr>
				<td style="width:60%;">
					<table>
						<tr>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td>Antonio JACQUES</td>
						</tr>
						<tr>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td>IIL Ankadivato Antananarivo Madagascar</td>
						</tr>
						<tr>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td>Tel:+261325099847</td>
						</tr>
						<tr>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td>Email:nirinahantonio@gmail.com</td>
						</tr>
					</table>
				</td>
				<td style="width:40%;">
					<table>
						<tr>
							<td><h2>FACTURE</h2></td>
						</tr>
						<tr>
							<td>Date: 26/11/2018</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
		<table>
			<tr>
				<td style="width:60%">
					<table>
						<tr>
							<td></td>
						</tr>
					</table>
				</td>
				<td style="width:40%">
					<table>
						<tr>
							<td><h2>Service Postal</h2></td>
						</tr>
						<tr>
							<td>XIPE SARL</td>
						</tr>
						<tr>
							<td>30 quai du Seujet</td>
						</tr>
						<tr>
							<td>CH-1201 Genève</td>
						</tr>
						<tr>
							<td>Suisse</td>
						</tr>
						</tr>
					</table>
				</td>
			</tr>
		</table>
		<div>&nbsp;</div>
		<div>&nbsp;</div>
		<div>&nbsp;</div>
		<div>&nbsp;</div>
		<div>&nbsp;</div>
		<p style="text-align:center">A l'attention Monsieur Philippe ISRAEL</p>
		<div>&nbsp;</div>
		<div>&nbsp;</div>
		<div>&nbsp;</div>
		<table>
			<tr>
				<td>
					<table class="detail-fact">
						<thead>
							<th style="color:black">Désignation</th>
							<th style="color:black">Prix unitaire HT</th>
							<th style="color:black">Prix total HT</th>
						</thead>
						<tbody>
							<tr>
								<td>Frais de mise en service connexion illimitée Gold blueline</td>
								<td style="text-align:center">36€</td>
								<td style="text-align:center">36€</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</table>
		<div>&nbsp;</div>
		<table>
			<tr>
				<td>
					<table class="payer">
						<tr>
							<td>NET A PAYER</td>
							<td>36€</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
		<div>&nbsp;</div>
	</div>
</body>
</html>